<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>onionjson.net</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1>onionjson.net</h1>
        <hr>

        <p>
            You wrote an awesome API but can't be bothered to do all this static IP, DNS, TLS foo? Publish it as tor hidden service and use this reverse proxy to access it if no tor access is possible.
        </p>

        <p>
            $ curl https://onionjson.net/<strong>host.onion/path/to/file.json</strong>
        </p>
        
        <p>
            Donations: 1AvCFjzHsgCJZXbSz82A8g2fnL8yS3Mrdx
        </p>

        <p>
            Disclaimer:
            This service is acting as <i>mere conduit</i> as defined in Article 12 of Directive 2000/31/EC.
            None of these files are hosted on this server.
            Unwanted onion hosts will be blacklisted on request.
            No availability guarantee.
        </p>

        <hr>

        <p class="right">
            <a href="https://github.com/kpcyrd/onionjson">Github</a>
        </p>

        <p class="right">
Report abuse: abuse (at) onionjson.net<br>
Signaler un abus: abuse (at) onionjson.net<br>
Missbrauch melden: abuse (at) onionjson.net<br>
Misbruik melden: abuse (at) onionjson.net<br>
Rapportera missbruk: abuse (at) onionjson.net<br>
Сообщить о нарушении: abuse (at) onionjson.net<br>
Informar uso indebido de: abuse (at) onionjson.net<br>
Reportar abús: abuse (at) onionjson.net<br>
Segnala un abuso: abuse (at) onionjson.net<br>
Tacizleri: abuse (at) onionjson.net<br>
Rapporter misbruk: abuse (at) onionjson.net<br>
Pranešti apie piktnaudžiavimą: abuse (at) onionjson.net<br>
Raporteaza abuz: abuse (at) onionjson.net<br>
Повідомити про порушення: abuse (at) onionjson.net<br>
Извештај злостављања: abuse (at) onionjson.net<br>
Báo cáo lạm dụng: abuse (at) onionjson.net<br>
Laporkan salah guna: abuse (at) onionjson.net<br>
Zgłoś nadużycie: abuse (at) onionjson.net<br>
گزارش سوء استفاده: abuse (at) onionjson.net<br>
ja' ghong: abuse (at) onionjson.net<br>
        </p>
    </body>
</html>
